#new-todo-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

#new-todo-form > * {
  margin: 0.15rem;
}

#list {
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

.list-item {
  list-style: none;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text] {
  color: #333;
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  color: #aaa;
}

[data-button-delete] {
  margin-left: 0.5rem;
}

button {
  cursor: pointer;
}
#modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
